<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>증명서 발급 시스템</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>증명서 발급 시스템</h1>

<!-- 인증서 목록 테이블 -->
<div style="display: flex; justify-content: center;">
    <table style="width: 1400px; border-collapse: collapse; text-align: center">
        <thead>
        <tr>
            <th>이름</th>
            <th>주민등록등본</th>
            <th>가족관계증명서</th>
            <th>출생신고서</th>
            <th>사망신고서</th>
            <th>발급목록</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- 주민 정보 출력 -->
            <td th:text="${resident.name}"></td>
            <td>
                <a th:href="'/resident/' + ${resident.residentSerialNumber} + '/certificate'">주민등록등본</a>
            </td>
            <td>
                <a th:href="'/family/' + ${resident.residentSerialNumber}">가족관계증명서</a>
            </td>
            <td>출생신고서</td>
            <td>사망신고서</td>
            <td>발급목록</td>
            <td>삭제</td>
        </tr>
        </tbody>
    </table>
</div>
</table>
</body>
</html>


