<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>증명서 발급 시스템</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>증명서 발급 시스템</h1>-->
<!--&lt;!&ndash;<div sec:authrize="hasAuthority('Resident')">&ndash;&gt;-->

<!--&lt;!&ndash;<div th:if="${resident}">&ndash;&gt;-->
<!--    <h2>주민 정보</h2>-->
<!--    <p>번호 : <span th:text="${resident.residentSerialNumber}"></span></p>-->
<!--    <p>이름 : <span th:text="${resident.name}"></span></p>-->
<!--    <p>성별 : <span th:text="${resident.genderCode}"></span></p>-->
<!--    <p>생년월일 : <span th:text="${resident.birthDate}"></span></p>-->

<!--    <h2>인증서 선택</h2>-->
<!--    <a href="/주민등록등본">주민등록등본</a>-->
<!--    </p>-->
<!--    <a href="/가족관계증명서">가족관계증명서</a>-->
<!--    </p>-->
<!--    <a href="/출생신고서">출생신고서</a>-->
<!--    </p>-->
<!--    <a href="/사망신고서">사망신고서</a>-->
<!--    </p>-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>증명서 발급 시스템</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>증명서 발급 시스템</h1>

<!-- 인증서 목록 테이블 -->
<div sec:authorize="hasAuthority('Resident')">
    <div style="display: flex; justify-content: center;">
        <table style="width: 1400px; border-collapse: collapse; text-align: center">
    <thead>
    <tr>
        <th>이름</th>
        <th>주민등록등본</a></th>
        <th>가족관계증명서</a></th>
        <th>출생신고서</a></th>
        <th>사망신고서</a></th>
        <th>발급목록</a></th>
        <th>삭제</a></th>
    </tr>

    </thead>
        <tbody>
        <tr>
            <td th:text="${resident.residentSerialNumber}"></td>
            <td th:text="${resident.name}"></td>
            <td th:text="${resident.genderCode}"></td>
            <td th:text="${resident.birthDate}"></td>
            <td>
                <a th:href="'/family/' + ${resident.residentSerialNumber}">가족관계증명서</a>
            </td>
            <td>주민등록등본</td>
            <td>출생신고서</td>
            <td>사망신고서</td>
        </tr>
        </tbody>

        </table>
    </div>
</div>
</table>
</body>
</html>


